<div class="page-header">
  <h1> Dashboard <small> from PYAYdirectory data management system</small></h1>
</div>


<div class="row">


  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/bank.ico" alt="...">
      <div class="caption">
        <h3>Bank   </h3>
        <p>can add new Bank informations here</p>
        <p>
        <%= link_to 'Enter', new_simple_table_path(:category => "bank"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/computer.ico" alt="...">
      <div class="caption">
        <h3>Computer  </h3>
        <p>can add new computer informations here</p>
        <p>
         <%= link_to 'Enter', new_simple_table_path(:category => "computer"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>

   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/hotel.ico" alt="...">
      <div class="caption">
        <h3>Hotel  </h3>
        <p>can add new hotels informations here</p>
        <p><a href="/hotels/new" class="btn btn-primary" role="button"> Enter</a></p>
      </div>
    </div>
  </div>

   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/school.png" alt="...">
      <div class="caption">
        <h3>School  </h3>
        <p>can add new school informations here</p>
        <p>
           <%= link_to 'Enter', new_simple_table_path(:category => "education"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/hosipital.ico" alt="...">
      <div class="caption">
        <h3>Hospital  </h3>
        <p>can add hospital informations</p>
        <p>
         <%= link_to 'Enter', new_simple_table_path(:category => "hospital"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>



   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/famous.ico" alt="...">
      <div class="caption">
        <h3>Famous place  </h3>
        <p>can add new famous place informations</p>
        <p>
           <%= link_to 'Enter', new_simple_table_path(:category => "famous_place"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/BeautySaloon.ico" alt="...">
      <div class="caption">
        <h3>Beauty saloon  </h3>
        <p>can add new beauty saloon informations</p>
        <p>
           <%= link_to 'Enter', new_simple_table_path(:category => "beauty_saloon"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


     <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/tea.ico" alt="...">
      <div class="caption">
        <h3>Teahouse  </h3>
        <p>can add new tea house informations</p>
        <p>
           <%= link_to 'Enter', new_simple_table_path(:category => "tea_shop"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/fuel.png" alt="...">
      <div class="caption">
        <h3>Gas station  </h3>
        <p>can add new gas station informations</p>
        <p>
           <%= link_to 'Enter', new_simple_table_path(:category => "gas_station"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>




  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/restaurant.ico" alt="...">
      <div class="caption">
        <h3>Restaurant  </h3>
        <p>can add new restaurants information here</p>
        <p>
           <%= link_to 'Enter', new_simple_table_path(:category => "restaurant"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/imptcontact.ico" alt="...">
      <div class="caption">
        <h3>Important contacts  </h3>
        <p>can add new important contacts information here</p>
        <p>
           <%= link_to 'Enter', new_simple_table_path(:category => "emergency_contact"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>

   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/shopping_mall.ico" alt="...">
      <div class="caption">
        <h3>Shopping mall  </h3>
        <p>can add new mall informations here</p>
        <p>
             <%= link_to 'Enter', new_simple_table_path(:category => "shopping_mall"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>

   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/cycle.ico" alt="...">
      <div class="caption">
        <h3>Cycle  </h3>
        <p>can add new informations here</p>
        <p>
          <%= link_to 'Enter', new_simple_table_path(:category => "cycle"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/electronics.ico" alt="...">
      <div class="caption">
        <h3>Electronics shop  </h3>
        <p>can add new informations</p>
        <p>
          <%= link_to 'Enter', new_simple_table_path(:category => "electronic"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>

   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/busgate.ico" alt="...">
      <div class="caption">
        <h3>Bus gate  </h3>
        <p>can add new bus gate informations</p>
        <p>
           <%= link_to 'Enter', new_bus_path, :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


   <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/farm.ico" alt="...">
      <div class="caption">
        <h3>Farmer's store  </h3>
        <p>can add new famer informations</p>
        <p>
            <%= link_to 'Enter', new_simple_table_path(:category => "farmer"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/jewellery.png" alt="...">
      <div class="caption">
        <h3>Jewellery shop  </h3>
        <p>can add new Jewellery shop informations</p>
        <p>
            <%= link_to 'Enter', new_simple_table_path(:category => "jewellery"), :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>



  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/ads.png" alt="...">
      <div class="caption">
        <h3> Advertisements  </h3>
        <p>can add new advertisements informations</p>
        <p>
            <%= link_to 'Enter', new_advertisement_path, :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>




  <div class="col-md-3">
    <div class="thumbnail">
      <img src="/assets/ads.png" alt="...">
      <div class="caption">
        <h3> Sticky Ads  </h3>
        <p>can add new advertisements informations</p>
        <p>
            <%= link_to 'Enter', new_stickey_advertisement_path, :class=>"btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>




</div>