<div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
              Train (New Form)
              </div>
            </div>
            <div class="portlet-body form">
              
<%= form_for @train, :html => {:class => "form-horizontal" } do |f| %>



    <div class="form-group">
            <label class="col-md-2 control-label"> <h2>Train </h2></label>
            <div class="col-md-9">
          
    </div>
    </div>

  <% if @train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@train.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @train.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-body">
 <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-9">
    <%= f.text_field :name,  :class =>"form-control", :value => @train_info.name %>
     </div>
        </div>
 <div class="form-group">
            <label class="col-md-2 control-label">Phone</label>
            <div class="col-md-9">
    <%= f.text_field :phone,  :class =>"form-control", :value => @train_info.phone  %>
     </div>
        </div>
 <div class="form-group">
            <label class="col-md-2 control-label">Address</label>
            <div class="col-md-9">
    <%= f.text_field :address,  :class =>"form-control", :value => @train_info.address %>
      </div>
        </div>


    <div class="form-group">
            <label class="col-md-2 control-label">Website</label>
            <div class="col-md-9">
    <%= f.text_field :website,  :class =>"form-control",:value => @train_info.website %>
    </div>
    </div>

    <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-9">
    <%= f.text_field :email,  :class =>"form-control",:value => @train_info.email  %>
    </div>
    </div>

    
   

    <div class="form-group">
            <label class="col-md-2 control-label"> <h2>Routes </h2></label>
            <div class="col-md-9">
          
    </div>
    </div>



    <div class="form-group">
            <label class="col-md-2 control-label">From</label>
            <div class="col-md-9">
           <%= select("train", "from", City.all.collect {|p| [ p.title, p.title ] }, {prompt: 'Select'}) %>
    </div>
    </div>

        <div class="form-group">
            <label class="col-md-2 control-label">To</label>
            <div class="col-md-9">
            <%= select("train", "to", City.all.collect {|p| [ p.title, p.title ] }, {prompt: 'Select'}) %>
    </div>
    </div>




    <div class="form-group">
            <label class="col-md-2 control-label">Departure</label>
            <div class="col-md-9">
           <%= f.text_field :departure_time,  :class =>"form-control" %>
    </div>
    </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Arrival</label>
            <div class="col-md-9">
           <%= f.text_field :arrival_time,  :class =>"form-control" %>
    </div>
    </div>


   <div class="form-group">
            <label class="col-md-2 control-label">Remark</label>
            <div class="col-md-9">
    <%= f.text_field :remark,  :class =>"form-control" %>
    </div>
    </div>


 
    <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <%= f.submit "Add route", :class=>"btn blue" %>
            <button type="button" class="btn default">Cancel</button>
          </div>
        </div>
  
  <br/>

<% end %>
            </div>
</div>

