<p id="notice"><%= notice %></p>



 
 <h3><%= @voyage.name %></h3>

<p>
  <strong>Phone:</strong>
  <%= @voyage.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @voyage.address %>
</p>

 <h3>Routes</h3>
<table class="table table-striped">
  <tr>
    <td><b>Remark</b></td> 
    <td><b>From (Departure)</b></td> 
    <td><b>To (Arrival)</b></td>
    <td><b>Schedule </b></td>
  </tr>
   <% @voyage_routes.each do |voyage_route| %>
  <tr>
    <td><%= voyage_route.remark %></td>
    <td><%= voyage_route.from %> <b><%= voyage_route.departure_time %></b></td> 
    <td><%= voyage_route.to %> <b><%= voyage_route.arrival_time %></b></td>
    <td><%= voyage_route.days %></td>
  </tr>
  <% end %>
</table>


<%= link_to 'Back', voyages_path %>
