


<%= form_for @advertisement, :html => {:class => "form-horizontal", :multipart => true } do |f| %>

 <div class="form-group">
            <label class="col-md-3 control-label">Category</label>
            <div class="col-md-9">
       <%= f.select(:category, Advertisement::CATEGORY) %>
  </div>
    </div>


     <div class="form-group">
            <label class="col-md-3 control-label">Main Category</label>
            <div class="col-md-9">
       <%= f.select(:main_ads, Advertisement::MAINADS) %>
  </div>
    </div>



    

 <div class="form-group">
            <label class="col-md-3 control-label">Shop</label>
            <div class="col-md-9">
    <%= f.text_field :shop_id %>


  </div>
    </div>


 

        <div class="form-group">
            <label class="col-md-3 control-label"> Image Upload</label>
            <div class="col-md-9">
    <%= f.file_field :avatar1 %>
      <%= image_tag @advertisement.avatar1.url(:thumb) %>
    </div>
        </div>



<div class="row">
          <div class="col-md-offset-3 col-md-9">
            <%= f.submit :class=>"btn blue" %>
               <a href="/advertisements" class="btn default" role="button"> Cancel </a>

          </div>
        </div>
<% end %>










<script>
  $(function() {
   var aok = <%= raw @shop_names %>;
    var availableTags = aok;

    $("#advertisement_shop_id").autocomplete({
      source: availableTags
    });
  });


</script>