


<div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
              Ads listings
              </div>
            </div>

            <div class="portlet-body form">
                
                <br/>
                <p style="padding-left:20px;font-size:14px;">
                Advertisements informations
                 <a class="btn btn-primary" href="/advertisements/new" role="button">New record</a>
              </p>
      <table class="table table-bordered" style="padding:30px;" >
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Shop</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisements.each do |advertisement| %>
       <tr class="tablerow">
         <td><input id="aok"></td>
        <td><%= advertisement.category %></td>
        <td><%= advertisement.shop_id %></td>
        <td><%= image_tag advertisement.avatar1.url(:thumb) %></td>
        <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
        <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

            </div>
</div>

<script type="text/javascript">
      window.onload = function () {

       $('.tablerow').each(function (i) {
              $("td:first", this).html(i + 1);
         });

     };

</script>