<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @advertisement.category %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @advertisement.shop_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @advertisement.category %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
