
<!--  -->





<div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
              Information listings
              </div>
            </div>

            <div class="portlet-body form">
                 <br/>
                <p style="padding-left:20px;font-size:14px;">
               Buses informations
                <a class="btn btn-primary" href="/buses/new" role="button">New record</a>
              </p>
              
   <table class="table table-bordered" style="padding:30px;" >
  <thead>
    <tr>
      <th> ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Routes</th>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @buses.each do |bus| %>
       <tr class="tablerow">
        <td><input id="aok"></td>
        <td><%= bus.name %></td>
        <td><%= bus.address %></td>
        <td><%= bus.phone %></td>
        <td><%= bus.latitude %></td>
        <td><%= bus.longitude %></td>
        <td><%= bus.fromtownship %> - <%= bus.totownship %></td>
        <td><%= bus.departuretime %></td>
        <td><%= link_to 'Edit', edit_bus_path(bus) %></td>
        <td><%= link_to 'Destroy', bus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

      <div class="digg_pagination">
        <%= will_paginate @buses, :container => false %>
      </div><br/>
      
            </div>
</div>

<script type="text/javascript">
      window.onload = function () {

       $('.tablerow').each(function (i) {
              $("td:first", this).html(i + 1);
         });

     };

</script>