
<!DOCTYPE html>
<html>
<head>

<title>Pyay Directory | Dashboard</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>



<%= stylesheet_link_tag 'font-awesome.min.css' %>
<%= stylesheet_link_tag 'simple-line-icons.min.css' %>
<%= stylesheet_link_tag 'bootstrap.min.css' %>
<%= stylesheet_link_tag 'font-awesome.min.css' %>
<%= stylesheet_link_tag 'uniform.default.css' %>
<%= stylesheet_link_tag 'bootstrap-switch.min.css' %>
<%= stylesheet_link_tag 'daterangepicker-bs3.css' %>
<%= stylesheet_link_tag 'fullcalendar.min.css' %>
<%= stylesheet_link_tag 'jqvmap.css' %>
<%= stylesheet_link_tag 'tasks.css' %>
<%= stylesheet_link_tag 'components.css' %>
<%= stylesheet_link_tag 'plugins.css' %>
<%= stylesheet_link_tag 'layout.css' %>
<%= stylesheet_link_tag 'darkblue.css' %>
<%= stylesheet_link_tag 'custom.css' %>
<%= stylesheet_link_tag 'pagination.css' %>


 <%= stylesheet_link_tag 'pagination.css' %>

 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


  <%= javascript_include_tag "jquery-1.12.4.js" %>
      <%= javascript_include_tag "bootstrap.min.js" %>
        <%= javascript_include_tag "jquery_ujs.js" %>
  <%= javascript_include_tag "jquery-ui.js" %>




<%= csrf_meta_tags %>
</head>

<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="/">
			<%= image_tag("logo.png", :class =>"logo-default") %>
			</a>
			<div class="menu-toggler sidebar-toggler hide">
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">

				<li class="dropdown dropdown-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<%= image_tag("avatar3_small.jpg", :class =>"img-circle") %>
					<span class="username username-hide-on-mobile">
					Admin </span>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						
						<li>
							 <% if admin_signed_in? %>
          						<%= link_to 'Log Out', destroy_admin_session_path, :method => :delete %>
      						<% end %>
					
						</li>
					</ul>
				</li>
		
				<!-- END QUICK SIDEBAR TOGGLER -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>

<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
			<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
			<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
			<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				
			
				<li class="start">
					<a href="/dashboard">
					<i class="icon-home"></i>
					<span class="title">Dashboard</span>
					</a>
					
				</li>

				<li class="start">
					<a href="/informations?category=bank">
					
					<span class="title">ဘဏ္ႏွင့္ ATM</span>
					</a>				
				</li>


			    <li class="start">
					<a href="/informations?category=computer">
					
					<span class="title">ကြန္ပ်ဴတာ၊ မိုဘိုုင္းဖုန္း၊ ဓါတ္ပံုုဆိုုင္၊ မိတၱဴဆိုုင္မ်ား</span>
					</a>				
				</li>

			     <li class="start">
					<a href="/hotels">
					
					<span class="title"> ဟိုတယ္၊ တည္းခိုခန္း၊ မိုတယ္</span>
					</a>				
				</li>

				<li class="start">
					<a href="/informations?category=education">
					
					<span class="title">ပညာေရးႏွင့္ဆိုင္ေသာ သင္တန္းမ်ား</span>
					</a>				
				</li>


				<li class="start">
					<a href="/informations?category=hospital">
					
					<span class="title"> ေဆးရံု၊ ေဆးခန္းႏွင့္ ေဆးဆိုင္မ်ား</span>
					</a>
				</li>

			    <li class="start">
				    <a href="/informations?category=store">
					
					<span class="title">အေထြေထြေရာင္းဝယ္ေရးႏွင့္ မုန္႔မ်ိဳးစံုဆိုင္မ်ား</span>
					</a>				
				</li>

				<li class="start">
					<a href="/informations?category=famous_place">
					
					<span class="title"> ျပည္ၿမိဳ႕ရွိ အထင္ကရေနရာမ်ား</span>
					</a>
					
				</li>
				
				<li class="start">
					<a href="/informations?category=gas_station">
					
					<span class="title"> စက္သံုးဆီအေရာင္းဆိုုင္မ်ား</span>
					</a>
					
				</li>

			    <li class="start">
					<a href="/informations?category=jewellery">
					
					<span class="title">စိန္၊ ေရႊ၊ ေငြ အေရာင္းဆိုင္မ်ား</span>
					</a>
					
				</li>

			    <li class="start">
					<a href="/informations?category=shopping_mall">
					
					<span class="title">Shopping Center ႏွင့္ အထည္ဆိုင္မ်ား </span>
					</a>
					
				</li>

			    <li class="start">
					<a href="/informations?category=emergency_contact">
					
					<span class="title">အေရးေပၚဖုုန္းနံပါတ္မ်ား </span>
					</a>
					
				</li>


				 <li class="start">
					<a href="/informations?category=farmer">
					
					<span class="title">လယ္ယာစိုုက္ပ်ိဳးေရးေဆးဆိုုင္ႏွင့္ ဌားရမ္းေနရာမ်ား </span>
					</a>
					
				</li>



				 <li class="start">
					<a href="/informations?category=beauty_saloon">
					
					<span class="title"> Beauty Saloon မ်ား  </span>
					</a>
					
				</li>



				 <li class="start">
					<a href="/buses">
					
					<span class="title">အေဝးေျပးကားလိုင္းမ်ား</span>
					</a>
					
				</li>



				 <li class="start">
					<a href="/informations?category=electronic">
					
					<span class="title">Electronicဆိုုင္မ်ားႏွင့္စတိုးဆိုင္မ်ား</span>
					</a>
					
				</li>


				 <li class="start">
					<a href="/informations?category=tea_shop">
					
					<span class="title">လက္ဖက္ရည္ႏွင့္ စားဖြယ္စံု </span>
					</a>
					
				</li>

				 <li class="start">
					<a href="/informations?category=cycle">
					
					<span class="title">ဆိုင္ကယ္/ကားအေရာင္းဆိုင္ႏွင့္ကားပစၥည္းဆိုင္</span>
					</a>
					
				</li>


				 <li class="start">
					<a href="/informations?category=restaurant">
					
					<span class="title"> Restaurants & Beer Bar </span>
					</a>
					
				</li>


				<li class="start">
					<a href="/stickey_advertisements">
					
					<span class="title">Sticky Ads </span>
					</a>
					
				</li>


				<li class="start">
					<a href="/advertisements">
					
					<span class="title">Advertisements </span>
					</a>
					
				</li>


				<li class="start">
					<a href="/admins">
					
					<span class="title">Add admin users </span>
					</a>
					
				</li>




	
				
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">

<%= yield %>
</div>
</div>






</body>

<!-- END BODY -->
</html>

<style type="text/css">


@font-face {
  font-family: 'zawgyi';
  src: url('/assets/ZawgyiOne2008.ttf') format('truetype');
}

body {
 font-family: 'zawgyi';
}

	
	.pagination{

	background: #5b9bd1;
	color: white;
	padding: 15px;
}


	.pagination a{


	color: white;
	padding-left: 10px;

}

.previous_page{
	background: #5b9bd1;
	color: white;
}


.title{
	font-size: 11px;
	text-align: justify;

}


.page-content{
	height: 1700px;
}

</style>